
<br>
<div class="container">
  <br>
  <div style="text-align:center">
    <h1>
      Area
    </h1>
    <img width="120" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="card">
    <div class="card-heard">
      <h3>Agregar Area</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Id:</label>
          <input type="text" class="form-control" [(ngModel)]="area.id" name="id"
            ngDefaultControl>
        </div>

        <div class="form-group">
          <label for="">Nombre del area</label>
          <select class="form-control" [(ngModel)]="area.nom_area" name="nom_area" ngDefaultControl>
            <option value="1">Produccion</option>
            <option value="2">Ventas</option>
            <option value="2">Marketing</option>
            <option value="2">RRHH</option>
          </select>
        </div>
 <!--       <button (click)="edit ? updateArea() : ()" class="btn btn-success btn-block">Guardar</button>-->
      </form>
    </div>
  </div>
</div>