<app-principal-finanzas></app-principal-finanzas>
<div class="container ">
  <div class="card">
    <div class="card-heard">
      <h3>Agregar Solicitud de Presupuestos</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Codigo:</label>
          <input type="text" name="cod_solicitud_presupuesto" class="form-control" [(ngModel)]="presupuestos.cod_solicitud_presupuesto">
        </div>
        <div class="form-group">
            <label for="">Repeticion del Presupuesto:</label><br>
            <select name="cod_repeticion_semanal" [(ngModel)]="presupuestos.cod_repeticion_semanal">
                <option value="1">Semanal</option>
                <option value="2">Mensual</option>
                <option value="3">Anual</option>
              </select>
          </div>
        <div class="form-group">
          <label for="">Descripcion de la solicitud</label>
          <input type="text" name="desc_solicitud_presupuesto" class="form-control" [(ngModel)]="presupuestos.desc_solicitud_presupuesto">
        </div>
        <div class="form-group">
          <label for="">Valor</label>
          <input type="text" name="valor_presupuesto" class="form-control" [(ngModel)]="presupuestos.valor_presupuesto">
        </div>
        <div class="form-group">
          <label for="">Area solicitante</label>
          <input type="text" name="area_solicitante" class="form-control" [(ngModel)]="presupuestos.area_solicitante">
        </div>
        <div class="form-group">
          <label for="">Cuenta</label>
          <input type="text" name="cod_cuenta" class="form-control" [(ngModel)]="presupuestos.cod_cuenta">
        </div>
        <button (click)="editar ? editPF() : createPF()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>