<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3">
      <h1 class="pt-5">
        Dashboard de producción
      </h1>
    </div>
  </div>
  <div class="row pt-3 pb-3">
    <div class="col-md-2"></div>
    <div class="col-md-5"><app-prom-prod></app-prom-prod></div>
    <div class="col-md-5"><app-plazo-prod></app-plazo-prod></div>
  </div>
  <div class="row  pt-3 pb-3">
    <div class="col-md-2"></div>
    <div class="col-md-5"><app-mp-anio></app-mp-anio></div>
    <div class="col-md-5"><app-mayor-prod></app-mayor-prod></div>
  </div>
</div>
