<app-principal-pv></app-principal-pv>
<div class="container ">
  <div class="card">
    <div class="card-heard">
      <h3>Solicitar Productos</h3>
    </div>
    <div class="card-body">
      <form action="">

        <div class="form-group">
          <label for="">Sucursal:</label>
          <select class="form-control" [(ngModel)]="solici.cod_sucursal" name="cod_sucursal" ngDefaultControl>
            <option *ngFor="let sucursal of sucursales" value="{{sucursal.cod_sucursal}}">{{sucursal.nom_sucursal}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Producto</label>
          <select class="form-control" [(ngModel)]="solici.cod_producto" name="cod_producto" ngDefaultControl>
            <option *ngFor="let producto of productos" value="{{producto.cod_producto}}">{{producto.nom_producto}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Cantidad</label>
          <input type="number" name="Cantidad" class="form-control" [(ngModel)]="solici.cantidad">
        </div>
        <button (click)="createSolici()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
