<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Productos</h3>
    </div>
    <div class="card-body">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>

          </tr>
          <tr>

          </tr>
          <tr>

          </tr>
          <tr>
            <td><button (click)="Editar()" class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>