<nav class="navbar navbar-expand-lg">
  <a id="1" class="navbar-brand" [routerLink]="['/login']"><img src="../../../../assets/logo.png" width="100" height="35" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> <i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="1" class="nav-item nav-link" [routerLink]="['/workers/dashboard']">DashBoard <span
          class="sr-only">(current)</span></a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Funcionarios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/workers/listado']">Listado</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/workers/agregar']">Agregar</a>
            </div>
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Solicitud de presupuesto
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/workers/listarSolicitud']">Listado</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/workers/crearSolicitud']">Agregar</a>
            </div>
            
          </li>
          <span class="nav-link navbar-text">Saldo de la cuenta de RRHH {{total}}</span>
      <button (click)="logout()" mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon" style="align-self: right;" >settings_power</mat-icon>
      </button>
    </div>
  </div>
</nav>
<br>
