<div class="container">
    <div class="card">
      <div class="card-heard">
        <h3>Editar Presupuesto</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Estado del presupuesto:</label>
            <input type="text" name="cod_estado" class="form-control" [(ngModel)]="presupuestos.cod_estado">
          </div>
          <button (click)="editPF()" class="btn btn-danger">Guardar</button>
        </form>
      </div>
    </div>
  </div>