<div class="main-bg">
  <!-- title -->
  <!-- //title -->
  <!-- content -->
  <div class="sub-main-w3">
    <div class="bg-content-w3pvt">
      <div class="top-content-style">
        <img src="../../../assets/logo.png" alt="" />
      </div>
      <form>
        <p class="legend">Iniciar Sesión</p>
        <div class="input">
          <input type="text" [(ngModel)]="usuario.cedula" placeholder="Cédula" name="email" required />
          <span class="fa fa-envelope"></span>
        </div>
        <div class="input">
          <input type="password" [(ngModel)]="usuario.contrasenia" placeholder="Contraseña" name="password" required />
          <span class="fa fa-unlock"></span>
        </div>
        <re-captcha (resolved)="resolved($event)" required siteKey="6LeoxJ8UAAAAAK42RDjXU3GHAgH69DYity9o48iu"></re-captcha>
        <button (click)="clicked()" class="btn btn-danger">
            Entrar
        </button>
      </form>
    </div>
  </div>
  <!-- //content -->
  <!-- copyright -->
  <!--
  <div class="copyright">
    <h2>&copy; 2019 Latest Login Form. All rights reserved | Design by
      <a href="http://w3layouts.com" target="_blank">W3layouts</a>
    </h2>
  </div>
  -->
  <!-- //copyright -->
</div>