<div class="main-bg">
  <!-- title -->
  <h1>¡Bienvenido a S.E.R.P!</h1>
  <!-- //title -->
  <!-- content -->
  <div class="sub-main-w3">
    <div class="bg-content-w3pvt">
      <div class="top-content-style">
        <img src="assets/ImgPerfil.jpg" alt="" />
      </div>
      <form action="#" method="post">
        <p class="legend">Login<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon></p>
        <div class="input">
          <input type="email" placeholder="Email" name="email" required />
          <span class="fa fa-envelope"></span>
        </div>
        <div class="input">
          <input type="password" placeholder="Password" name="password" required />
          <span class="fa fa-unlock"></span>
        </div>
        <re-captcha (resolved)="resolved($event)" siteKey="6LeoxJ8UAAAAAK42RDjXU3GHAgH69DYity9o48iu"></re-captcha>
        <button type="submit" class="btn submit">
          <span class="fa fa-sign-in"></span>
        </button>
      </form>
      <a href="#" class="bottom-text-w3ls">Forgot Password?</a>
    </div>
  </div>
  <!-- //content -->
  <!-- copyright -->
  <div class="copyright">
    <h2>&copy; 2019 Latest Login Form. All rights reserved | Design by
      <a href="http://w3layouts.com" target="_blank">W3layouts</a>
    </h2>
  </div>
  <!-- //copyright -->
</div>