<div><button type="button"  class="btn btn-primary mb-5" (click)=pagarNomina()><i class="fas fa-money-bill-wave"></i>Pagar nomina</button></div>
<div class="col-md-3" *ngFor="let funcionario of funcionarios | paginate: {itemsPerPage:7, currentPage: pageActual}">
    <br>
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
            <h3 class="nombreF">{{funcionario.nom_funcionario}}</h3>
            <button class="btn btn-danger" (click)="deleteFuncionario(funcionario.cedula)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="funcionario.foto" class="card-img-top">
        <div class="card-body">
            <table>
                <tr>
                    <td class="icono">
                        <h6>Área</h6>
                    </td>
                    <td class="info">
                        <p>{{funcionario.nom_modulo}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="icono"><h6>Cargo</h6></td>
                    <td class="info"><p>{{funcionario.nom_cargo}}</p></td>
                </tr>
                <tr>
                    <td class="icono"><h6>Correo</h6></td>
                    <td class="info"><p>{{funcionario.correo}}</p></td>
                </tr>
                <tr>
                    <td class="icono"><h6>Dirección</h6></td>
                    <td class="info"><p>{{funcionario.direccion}}</p></td>
                </tr>
                <tr>
                    <td class="icono"><h6>Teléfono</h6></td>
                    <td class="info"><p>{{funcionario.telefono}}</p></td>
                </tr>

            </table>
            <a class="btn btn-info btn-block" style="font-family: cursive;" [routerLink]="['/workers/editar', funcionario.cedula]">Editar</a>
            
        </div>
    </div>
</div>

<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
