<app-principal-produccion></app-principal-produccion>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Productos</h3>
    </div>
    <div class="card-body">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let prod of productos">
            <td>{{prod.cod_producto}}</td>
            <td>{{prod.nom_producto}}</td>
            <td>{{prod.precio_unitario}}</td>
            <td>{{prod.cantidad}}</td>
            <td><button [routerLink]="['/produccion/editar', prod.cod_producto]" class="btn btn-warning">Editar</button>
              <button (click)="EliminarProducto(prod.cod_producto)" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>