<app-navbar-rrhh></app-navbar-rrhh>
<br>
<div class="container">
  <br>
  <div style="text-align:center">
    <h1>
      Funcionario
    </h1>
    <img width="120" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="card">
    <div class="card-heard">
      <h3>Agregar Funcionario</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.nom_funcionario" name="nom_funcionario"
            ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="">Cargo</label>
          <select class="form-control" [(ngModel)]="funcionario.cod_cargo" name="cod_cargo" ngDefaultControl>
            <option *ngFor="let cargo of selCargo" value="{{cargo.cod_cargo}}">{{cargo.nom_cargo}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Módulo</label>
          <select class="form-control" [(ngModel)]="funcionario.cod_modulo" name="cod_modulo" ngDefaultControl>
            <option *ngFor="let modulo of selModulo" value="{{modulo.cod_modulo}}">{{modulo.nom_modulo}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Género</label>
          <select class="form-control" [(ngModel)]="funcionario.cod_genero" name="cod_genero" ngDefaultControl>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Dirección:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.direccion" name="direccion" ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="">Teléfono:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.telefono" name="telefono" ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="">Cédula:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.cedula" name="cedula" ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="funcionario.correo"
            name="correo" ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="">Eficacia:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.eficacia" name="eficacia" ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="">Ausencias:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.ausencias" name="ausencias" ngDefaultControl>
        </div>
        <div class="form-group">
          <label for="">Foto:</label>
          <input type="text" class="form-control" [(ngModel)]="funcionario.foto" name="foto" ngDefaultControl>
        </div>
        <button (click)="edit ? updateFuncionario() : agregarNuevoFuncionario()" class="btn btn-success btn-block">Guardar</button>
      </form>
    </div>
  </div>
</div>