<app-navbar-pv></app-navbar-pv>
<div style="text-align:center">
  <h1>
    Puntos de venta
  </h1>
  <img width="120" alt=""
  src="../../../../assets/pv.png">
</div>
<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['/retail/listadoPV']"><i
      class="fas fa-clipboard-list"></i>Listado Punto de Venta</button>
  
  <button type="button" class="btn btn-success" [routerLink]="['/retail/agregarPV']"><i
      class="fas fa-plus-circle"></i>Agregar Puntos de Venta</button>

  <p></p>

  <button type="button" class="btn btn-primary" [routerLink]="['/retail/listadoInvPv']"><i
      class="fas fa-clipboard-list"></i>Inventario Productos</button>

  <button type="button" class="btn btn-success" [routerLink]="['/retail/solicitar']"><i
      class="fas fa-plus-circle"></i>Solicitar Productos</button>
</div>
