<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<div style="text-align:center">
  <h1>SOLICITUDES</h1>
    <h3>
      SOLICITUD
    </h3>
    <img width="150" alt="Angular Logo" src="https://www.aspel.com.mx/assets/images/productos/prod/collage_prod.png">
  </div>
  <div class="container">
    <button class="btn btn-info" [routerLink]="['/produccion/listarSolicitudP']">Listar Solicitudes</button>
    <button class="btn btn-info" [routerLink]="['/produccion/agregarSolicitudP'] " style="margin-left: 10px">Nueva Solicitud</button>
    <button class="btn btn-info" [routerLink]="['/produccion/agregarSolicitudP'] " style="margin-left: 10px">Solicitudes recibidas</button>
  </div>
  
  
