<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/finanzas']">S.E.R.P</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/finanzas']">DashBoard <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/finanzas/presupuesto-form']">Gestor de Presupuestos</a>
        <a class="nav-item nav-link" [routerLink]="['/finanzas/estado-form']">Estado</a>
        <a class="nav-item nav-link" [routerLink]="['/finanzas/area-form']">Area</a>
      </div>
    </div>
  </nav>