<app-navbar-finanzas></app-navbar-finanzas>

<div style="text-align:center">
  <h1>
    Presupuestos
  </h1>
  <img width="120" alt=""
      src="../../../../assets/finanzas.png">
</div>
<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['/presupuesto/listadoP']"><i
      class="fas fa-clipboard-list"></i>Listado de Solicitudes</button>
  <button type="button" class="btn btn-success" [routerLink]="['/presupuesto/createP']"><i
      class="fas fa-plus-circle"></i>Agregar Solicitudes de Presupuestos</button>
</div>