<app-principal-mp></app-principal-mp>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Materia Prima</h3>
    </div>
    <div class="card-body">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de adquisición</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let mp of mPrima">
            <td>{{mp.cod_m_prima}}</td>
            <td>{{mp.nom_m_prima}}</td>
            <td>{{mp.fecha_compra | date:'dd/MM/yyyy'}}</td>
            <td>{{mp.precio_unitario}}</td>
            <td>{{mp.cantidad}}</td>
            <td><button [routerLink]="['/produccion/editarMP', mp.cod_m_prima]" class="btn btn-warning">Editar</button>
              <button (click)="EliminarMP(mp.cod_m_prima)" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>