<app-principal-produccion></app-principal-produccion>
<div class="container ">
  <div class="card">
    <div class="card-heard">
      <h3>Agregar Producto</h3>
    </div>
    <div class="card-body">
      <form action="">

        <div class="form-group">
          <label for="">Nombre:</label>
          <input type="text" name="nom_producto" class="form-control" [(ngModel)]="producto.nom_producto">
        </div>
        <div class="form-group">
          <label for="">Precio:</label>
          <input type="text" name="precio" class="form-control" [(ngModel)]="producto.precio_unitario">
        </div>
        <div class="form-group">
            <label for="">Cantidad:</label>
            <input type="text" name="cantidad" class="form-control" [(ngModel)]="producto.cantidad">
          </div>
        <button (click)="editar ? actualizarProducto() : Guardar()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>